body {
    width: 100%;
    margin: 0;
    background-color: #e8f6f3;
}

h4{
    text-align: center;
}

#join-banner {
    padding: 20px;
    background-color: #f8f9fa; 
    position: relative; 
    top: 110px; 
    position: relative;

    margin-bottom: 80px;
    width: 100%;

}

.join-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    text-align: center;
}

.join-option {
    flex: 1;
}

.join-option p {
    margin: 0;
}

.join-option a {
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    color: #007bff; 
}

.join-options > div {
    padding: 0 10px;
}


.show-img{
    display: grid;
    border: 2px solid #433f3f;
    padding: 10px;
    width: 500px;
    align-items: center;
    border-radius: 5px;
    margin-left: 60px;
    margin-right: auto;
    margin-top: 50px;
    column-gap: 5px;
    float: left;
}

#infoTitle1{
    position:relative;
    top: 100px;
    text-align: right;
    margin-right: 300px;
}

#infotxt1{
    padding: 150px;
    margin-right: 50px;
    text-align: center;
    position: relative;
    left: 50px;

}

.show-img2{
    display: grid;
    border: 2px solid #433f3f;
    padding: 10px;
    width: 450px;
    width: 400px;
    align-items: center;
    border-radius: 5px;
    margin-right: 60px;
    margin-left: auto;
    margin-top: 50px;
    column-gap: 5px;
    float: right;
}

#infoTitle2{
    position:relative;
    top: 100px;
    text-align: left;
    margin-left: 250px;
}

#infotxt2{
    padding: 150px;
    margin-left: 110px;
    text-align: center;
    right: 50px;
    position: relative;
}

.row{
    padding: 30px;
    margin-left: 100px;
}

.cart-item-img {
    width: 120px; 
    height: auto;
}

.logoutIcon{
    position: absolute;
    margin-bottom: 400px;
}