@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #bfb1b1;
    font-family: 'Public Sans';
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    background-color: #F6F3FCFF ;
    border: solid 1px #aaa;
    border-radius: 0px 0px 6px 6px;
}
.contact_form{  
    border: thin solid rgb(255, 255, 255);
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #bdbbb993; 
    padding-left: 30px; 
      
  }
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: rgb(108, 52, 40); 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  label{
    display: block; 
    float: center;  
    font-size: 14px; 
    color: rgb(94, 113, 78)
  }

  
  select{
    display: block; 
    float: center;  
    font-size: 14px; 
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.25s ease;
    background-image: none;
    cursor: pointer;
  }
 
  select:focus {
    border-color: #aaa;
   
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    outline: none;
  }
  
  span{
    color: rgb(255, 0, 0); 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: rgb(105, 132, 88);
  }
  
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  .formulario input:focus{
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgb(255, 223, 233);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: Black; 
    outline: none;
  }
  img{
    width: 553px;
    height: 394px;
  }
  .enviar{
    cursor:default;
    
  }
  
  .cancelar{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: rgb(68, 40, 22); 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    display: block;
    text-decoration:none;
    padding:10px;
    text-align:center;
    color: #0e0e0e;
    
    
    
  }
  
  a{
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    
  }

  .garden-select{
    appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
  }


    .garden-select::before,
    .garden-select::after {
    --size: 0.3rem;
    position: absolute;
    content: "";
    right: 1rem;
    pointer-events: none;
  }

.garden-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.garden-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

 
  