.pic-container {
    position: relative;
    width: 250px;
    height: 150px;
    overflow: hidden;
    border: 2px solid #ddd;
}
.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.changePicture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.pic-container:hover .changePicture {
    opacity: 1;
}
.iconUpload {
    font-size: 15px;
    cursor: pointer;
}
.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#uploadImageBtn{
    transform: translate(-30px, -80px);
   
    float: right;
}

.plusBtn{
    height: 20px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    transform: translate(100px,600px);
    align-items: center;
}

.form-plantSelect{
    max-width: 100px;
    width: 100%;
    position:absolute;
    
    transform: translate(50px,-550px);
}

.dark-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9998;
}
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #000;
    z-index: 9999;
}
.hamburger-menu {
    top: 10px;
    right: 10px;
    z-index: 10000;
    cursor: pointer;
    float:right;
    transform: translate(-100px,-500px);
}
.hamburger-menu div {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
    transform: translate(-10px,-450px);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.show {display: block;}